<div class="bg-bluegray-700 px-4 py-4 md:px-6 lg:px-8 ">
    <div class="text-gray-300 font-bold text-6xl mb-4 text-center">Frontend</div>
    <div class="text-gray-200 text-xl mb-6 text-center line-height-3">Aquí encuentras una muestra de un desafío</div>

    <div class="grid bg-bluegray-700  ">
       
        <div class="col-12 lg:col-11 bg-bluegray-700 ">
            <div class="p-3 h-full bg-bluegray-700">
                <div class="shadow-2 p-1 h-full flex flex-column bg-bluegray-700  " style="border-radius: 6px">                                  
                    <img  src="assets/tablaDolar.png" alt="" srcset="">               
                </div>
            </div>
        </div>
       

        <div class="col-12 lg:col-5">
            <div class="p-3 h-full ">
                <div class="shadow-2 p-3 h-full flex flex-column bg-bluegray-700 text-gray-200 " style="border-radius: 6px">
                    <div class="text-900 font-medium text-xl mb-1">Templates CRUD de productos</div>              
                    <hr class="my-2 mx-0 border-top-1 border-none surface-border" />               
                   <p style="margin-bottom: -2px;">En el front utilicé html, css, PrimeNg para el diseño de los templates, los mismos son 100% responsive.
                    En la tabla están registros traídos desde la BD y una barra de navegación los respectivos botones.</p><br>
                     <ul class="list-none p-0 m-0 flex-grow-1 ">
                    <li class="flex align-items-center mb-3 ">
                        <i class="pi pi-check-circle text-orange-500 mr-2"></i>
                        <span class="text-900 text-gray-200">Botón Nuevo: agrega un nuevo producto.</span>
                    </li>
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check-circle text-orange-500 mr-2"></i>
                        <span class="text-900 text-gray-200">Botón Editar: actualiza un producto. </span>
                    </li>
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check-circle text-orange-500 mr-2"></i>
                        <span class="text-900 text-gray-200">Botón Eliminar: elimina un producto.</span>
                    </li>
                   
                </ul>
                    <hr class="mb-3 mx-0 border-top-1  " />
                    <button pButton pRipple label="Home" class="p-auto w-6 m-auto bg-orange-500" routerLink="/"></button>
                </div>
            </div>
        </div>       
        <div class="col-12 lg:col-6 bg-bluegray-700 ">
            <div class="p-3 h-full bg-bluegray-700">
                <div class="shadow-2 p-1 h-full flex flex-column bg-bluegray-700  " style="border-radius: 6px">                                  
                    <img  src="assets/h2Dolar.png" alt="" srcset="">               
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************backend******************************-->
<div class="bg-bluegray-700 px-4 py-4 md:px-6 lg:px-8 ">
    <div class="text-gray-300 font-bold text-6xl mb-4 text-center">Backend</div>
    <div class="text-gray-200 text-xl mb-6 text-center line-height-3"></div>

    <div class="grid bg-bluegray-700 ">
        <div class="col-12 lg:col-6">
            <div class="p-3 h-full bg-bluegray-700">
                <div class="shadow-2 p-1 h-full flex flex-column surface-card " style="border-radius: 6px">                                  
                    <img  src="assets/modelDolar.png" alt="" srcset="">               
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6">
            <div class="p-3 h-full bg-bluegray-700">
                <div class="shadow-2 p-1 h-full flex flex-column surface-card " style="border-radius: 6px">                                  
                    <img  src="assets/repoDolar.png" alt="" srcset="">               
                </div>
            </div>
        </div> 
        <div class="grid bg-bluegray-700 ">
            <div class="col-12 lg:col-6">
                <div class="p-3 h-full bg-bluegray-700">
                    <div class="shadow-2 p-1 h-full flex flex-column surface-card " style="border-radius: 6px">                                  
                        <img  src="assets/servDolar.png" alt="" srcset="">               
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6">
                <div class="p-3 h-full bg-bluegray-700">
                    <div class="shadow-2 p-1 h-full flex flex-column surface-card " style="border-radius: 6px">                                  
                        <img  src="assets/servImplDolar.png" alt="" srcset="">               
                    </div>
                </div>
            </div>  
            <div class="grid bg-bluegray-700 ">
                <div class="col-12 lg:col-6">
                    <div class="p-3 h-full bg-bluegray-700">
                        <div class="shadow-2 p-1 h-full flex flex-column surface-card " style="border-radius: 6px">                                  
                            <img  src="assets/controllerDolar.png" alt="" srcset="">               
                        </div>
                    </div>
                </div>
                <div class="col-12 lg:col-6">
                    <div class="p-3 h-full bg-bluegray-700">
                        <div class="shadow-2 p-1 h-full flex flex-column surface-card " style="border-radius: 6px">                                  
                            <img  src="assets/appDolar.png" alt="" srcset="">               
                        </div>
                    </div>
                </div>     
        
       <div class="">
        <div class=" flex flex-wrap justify-content-center p-3 h-full ">
            <div class="shadow-2 p-3 h-full flex flex-column bg-bluegray-700 text-gray-200 " style="border-radius: 6px">
                <div class="text-900 font-medium text-xl mb-1">Templates CRUD de productos</div>              
                <hr class="my-2 mx-0 border-top-1 border-none surface-border" />               
               <p style="margin-bottom: -2px;">En el front utilicé html, css, PrimeNg para el diseño de los templates, los mismos son 100% responsive.
                En la tabla están registros traídos desde la BD y una barra de navegación los respectivos botones.</p><br>
                 <ul class="list-none p-0 m-0 flex-grow-1 ">
                <li class="flex align-items-center mb-3 ">
                    <i class="pi pi-check-circle text-orange-500 mr-2"></i>
                    <span class="text-900 text-gray-200">Botón Nuevo: agrega un nuevo producto.</span>
                </li>
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-check-circle text-orange-500 mr-2"></i>
                    <span class="text-900 text-gray-200">Botón Editar: actualiza un producto. </span>
                </li>
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-check-circle text-orange-500 mr-2"></i>
                    <span class="text-900 text-gray-200">Botón Eliminar: elimina un producto.</span>
                </li>
               
            </ul>
                <hr class="mb-3 mx-0 border-top-1  " />
                <button pButton pRipple label="Home" class="p-auto w-6 m-auto bg-orange-500" routerLink="/"></button>
            </div>
        </div>
    </div>      
    </div>    
</div>



